[Unit]
Description=Log Enviroplus Sensor Data
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/christian/Documents/enviroplus_mqtt_logging/log_all.py > /home/christian/Documents/enviroplus_mqtt_logging/log_all.log
WorkingDirectory=/home/christian/Documents/enviroplus_mqtt_logging
User=christian

[Install]
WantedBy=multi-user.target
